In [133]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [134]:
df = pd.read_csv("heart failure.csv")

In [135]:
df.head(20)

,Age,Age.Group,Gender,Locality,Marital status,Life.Style,Sleep,Category,Depression,Hyperlipi,...,oldpeak,slope,ca,thal,num,SK,SK.React,Reaction,Mortality,Follow.Up
0,45,41-50,Female,RURAL,MARRIED,NO,NO,FREE,YES,YES,...,3.0,2,0,7,2,1,NO,0,0,60
1,51,51-60,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,1.2,2,0,7,2,1,NO,0,0,15
2,55,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,3.4,2,0,3,2,1,NO,0,0,6
3,55,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,2.0,2,1,7,3,1,NO,0,0,52
4,56,51-60,Female,RURAL,MARRIED,YES,NO,FREE,YES,YES,...,4.0,3,2,7,3,1,NO,0,0,34
5,56,51-60,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,1.9,2,2,7,2,1,NO,0,1,32
6,57,51-60,Female,RURAL,MARRIED,YES,YES,PAID,YES,YES,...,0.2,2,0,7,1,1,NO,0,0,60
7,57,51-60,Female,RURAL,MARRIED,NO,NO,FREE,YES,YES,...,0.0,2,1,3,1,1,NO,0,1,3
8,58,51-60,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,0.0,1,2,3,3,1,NO,0,0,15
9,58,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,2.8,2,2,6,2,1,NO,0,0,6
10,59,51-60,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,0.0,2,0,3,1,1,NO,0,1,52
11,60,51-60,Female,RURAL,MARRIED,YES,NO,FREE,YES,YES,...,2.6,2,2,7,3,1,NO,0,0,34
12,60,51-60,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,0.0,1,0,3,1,1,NO,0,0,32
13,61,61-70,Female,RURAL,MARRIED,YES,YES,PAID,YES,YES,...,0.0,1,0,3,1,1,NO,0,1,12
14,61,61-70,Female,RURAL,MARRIED,NO,NO,FREE,YES,YES,...,1.0,2,0,7,1,1,NO,0,1,15
15,62,61-70,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,3.6,3,2,3,3,1,NO,0,0,15
16,62,61-70,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,6.2,3,3,7,3,1,NO,0,0,6
17,62,61-70,Female,RURAL,MARRIED,YES,YES,FREE,YES,YES,...,1.2,2,1,7,2,1,NO,0,1,52
18,62,61-70,Female,RURAL,MARRIED,YES,NO,FREE,YES,YES,...,1.9,2,3,3,2,1,NO,0,1,34
19,62,61-70,Female,URBAN,MARRIED,NO,NO,FREE,YES,YES,...,1.4,2,0,3,1,1,NO,0,1,32

In [136]:
df.shape

(368, 60)

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 60 columns):
 #   Column                                                                                    Non-Null Count  Dtype
---  ------                                                                                    --------------  -----
 0   Age                                                                                       368 non-null    int64
 1   Age.Group                                                                                 368 non-null    object
 2   Gender                                                                                    368 non-null    object
 3   Locality                                                                                  368 non-null    object
 4   Marital status                                                                            368 non-null    object
 5   Life.Style                                                                                368 non-null    object
 6   Sleep                                                                                     368 non-null    object
 7   Category                                                                                  368 non-null    object
 8   Depression                                                                                368 non-null    object
 9   Hyperlipi                                                                                 368 non-null    object
 10  Smoking                                                                                   368 non-null    object
 11  Family.History                                                                            368 non-null    object
 12  F.History                                                                                 368 non-null    int64
 13  Diabetes                                                                                  368 non-null    int64
 14  HTN                                                                                       368 non-null    object
 15  Allergies                                                                                 368 non-null    object
 16  BP                                                                                        368 non-null    float64
 17  Thrombolysis                                                                              368 non-null    int64
 18  BGR                                                                                       368 non-null    int64
 19  B.Urea                                                                                    368 non-null    float64
 20  S.Cr                                                                                      368 non-null    float64
 21  S.Sodium                                                                                  368 non-null    int64
 22  S.Potassium                                                                               368 non-null    float64
 23  S.Chloride                                                                                368 non-null    int64
 24  C.P.K                                                                                     368 non-null    int64
 25  CK.MB                                                                                     368 non-null    int64
 26  ESR                                                                                       368 non-null    int64
 27  WBC                                                                                       368 non-null    int64
 28  RBC                                                                                       368 non-null    float64
 29  Hemoglobin                                                                                368 non-null    float64
 30  P.C.V                                                                                     368 non-null    float64
 31  M.C.V                                                                                     368 non-null    float64
 32  M.C.H                                                                                     368 non-null    float64
 33  M.C.H.C                                                                                   368 non-null    float64
 34  PLATELET_COUNT                                                                            368 non-null    int64
 35  NEUTROPHIL                                                                                368 non-null    float64
 36  LYMPHO                                                                                    368 non-null    float64
 37  MONOCYTE                                                                                  368 non-null    float64
 38  EOSINO                                                                                    368 non-null    int64
 39  Others                                                                                    368 non-null    object
 40  CO                                                                                        368 non-null    object
 41  Diagnosis                                                                                 368 non-null    object
 42  Hypersensitivity                                                                          368 non-null    object
 43  cp                                                                                        368 non-null    int64
 44  trestbps                                                                                  368 non-null    int64
 45  chol                                                                                      368 non-null    int64
 46  fbs                                                                                       368 non-null    int64
 47  restecg                                                                                   368 non-null    int64
 48  thalach                                                                                   368 non-null    int64
 49  exang                                                                                     368 non-null    int64
 50  oldpeak                                                                                   368 non-null    float64
 51  slope                                                                                     368 non-null    int64
 52  ca                                                                                        368 non-null    int64
 53  thal                                                                                      368 non-null    int64
 54  num                                                                                       368 non-null    int64
 55  SK                                                                                        368 non-null    int64
 56  SK.React                                                                                  368 non-null    object
 57  Reaction                                                                                  368 non-null    int64
 58  Mortality                                                                                 368 non-null    int64
 59  Follow.Up                                                                                 368 non-null    int64
dtypes: float64(14), int64(28), object(18)
memory usage: 172.6+ KB

In [138]:
df.columns

Index(['Age', 'Age.Group', 'Gender', 'Locality  ',
       'Marital status                       ',
       'Life.Style                                                                              ',
       'Sleep', 'Category', 'Depression', 'Hyperlipi', 'Smoking',
       'Family.History', 'F.History', 'Diabetes', 'HTN', 'Allergies', 'BP',
       'Thrombolysis', 'BGR', 'B.Urea', 'S.Cr', 'S.Sodium', 'S.Potassium',
       'S.Chloride', 'C.P.K', 'CK.MB', 'ESR', 'WBC', 'RBC', 'Hemoglobin',
       'P.C.V', 'M.C.V', 'M.C.H', 'M.C.H.C', 'PLATELET_COUNT', 'NEUTROPHIL',
       'LYMPHO', 'MONOCYTE', 'EOSINO', 'Others ', 'CO', 'Diagnosis',
       'Hypersensitivity', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num', 'SK',
       'SK.React', 'Reaction', 'Mortality', 'Follow.Up'],
      dtype='object')

In [139]:
df.describe()

,Age,F.History,Diabetes,BP,Thrombolysis,BGR,B.Urea,S.Cr,S.Sodium,S.Potassium,...,exang,oldpeak,slope,ca,thal,num,SK,Reaction,Mortality,Follow.Up
count,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,...,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000
mean,54.293478,0.195652,0.461957,121.213315,0.032609,219.991848,51.681522,1.716902,138.019022,4.210870,...,0.562500,1.541848,1.842391,1.002717,5.858696,2.035326,0.983696,0.747283,0.217391,28.652174
std,8.718158,0.397242,0.499229,24.539205,0.177852,139.337387,62.582571,3.609296,4.079879,0.394984,...,0.496754,1.385381,0.564284,1.037442,1.744319,1.031573,0.126816,0.435162,0.413033,15.811860
min,24.000000,0.000000,0.000000,80.500000,0.000000,60.000000,2.300000,0.600000,129.000000,3.300000,...,0.000000,0.000000,1.000000,0.000000,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,50.750000,0.000000,0.000000,100.700000,0.000000,117.000000,28.000000,0.900000,135.000000,3.900000,...,0.000000,0.275000,1.750000,0.000000,3.000000,1.000000,1.000000,0.000000,0.000000,15.000000
50%,55.000000,0.000000,0.000000,120.800000,0.000000,164.000000,36.000000,0.900000,138.000000,4.200000,...,1.000000,1.200000,2.000000,1.000000,7.000000,2.000000,1.000000,1.000000,0.000000,32.000000
75%,60.250000,0.000000,1.000000,140.700000,0.000000,291.000000,43.000000,1.100000,141.000000,4.400000,...,1.000000,2.200000,2.000000,2.000000,7.000000,3.000000,1.000000,1.000000,0.000000,36.000000
max,77.000000,1.000000,1.000000,190.110000,1.000000,563.000000,394.000000,22.900000,146.000000,5.300000,...,1.000000,6.200000,3.000000,3.000000,7.000000,4.000000,1.000000,1.000000,1.000000,60.000000

# Preprocessing

In [140]:
df.isnull().sum()

Age                                                                                         0
Age.Group                                                                                   0
Gender                                                                                      0
Locality                                                                                    0
Marital status                                                                              0
Life.Style                                                                                  0
Sleep                                                                                       0
Category                                                                                    0
Depression                                                                                  0
Hyperlipi                                                                                   0
Smoking                                                                                     0
Family.History                                                                              0
F.History                                                                                   0
Diabetes                                                                                    0
HTN                                                                                         0
Allergies                                                                                   0
BP                                                                                          0
Thrombolysis                                                                                0
BGR                                                                                         0
B.Urea                                                                                      0
S.Cr                                                                                        0
S.Sodium                                                                                    0
S.Potassium                                                                                 0
S.Chloride                                                                                  0
C.P.K                                                                                       0
CK.MB                                                                                       0
ESR                                                                                         0
WBC                                                                                         0
RBC                                                                                         0
Hemoglobin                                                                                  0
P.C.V                                                                                       0
M.C.V                                                                                       0
M.C.H                                                                                       0
M.C.H.C                                                                                     0
PLATELET_COUNT                                                                              0
NEUTROPHIL                                                                                  0
LYMPHO                                                                                      0
MONOCYTE                                                                                    0
EOSINO                                                                                      0
Others                                                                                      0
CO                                                                                          0
Diagnosis                                                                                   0
Hypersensitivity                                                                            0
cp                                                                                          0
trestbps                                                                                    0
chol                                                                                        0
fbs                                                                                         0
restecg                                                                                     0
thalach                                                                                     0
exang                                                                                       0
oldpeak                                                                                     0
slope                                                                                       0
ca                                                                                          0
thal                                                                                        0
num                                                                                         0
SK                                                                                          0
SK.React                                                                                    0
Reaction                                                                                    0
Mortality                                                                                   0
Follow.Up                                                                                   0
dtype: int64

### categorical features encoding

In [141]:
from sklearn.preprocessing import LabelEncoder

#### 'Age.Group' column

In [142]:
encoder_Age_Group = LabelEncoder()

In [143]:
df['Age.Group'].value_counts()

51-60    184
61-70     91
41-50     61
31-40     20
21-30     12
Name: Age.Group, dtype: int64

In [144]:
df['Age.Group'] = encoder_Age_Group.fit_transform(df['Age.Group'])

In [145]:
df['Age.Group'].value_counts()

3    184
4     91
2     61
1     20
0     12
Name: Age.Group, dtype: int64

#### 'Gender' Column

In [146]:
encoder_gender = LabelEncoder()

In [147]:
df['Gender'] = encoder_gender.fit_transform(df['Gender'])

In [148]:
df['Gender'].value_counts()

1    285
0     83
Name: Gender, dtype: int64

In [149]:
encoder_gender.classes_

array(['Female', 'Male'], dtype=object)

#### Locality Column

In [150]:
encoder_locality =LabelEncoder()

In [151]:
df['Locality  ']=encoder_locality.fit_transform(df['Locality  '])

In [152]:
df['Locality  '].value_counts()

1    234
0    134
Name: Locality  , dtype: int64

In [153]:
encoder_locality.classes_

array(['RURAL', 'URBAN'], dtype=object)

#### Marital stats coloum

In [154]:
encoder_Marital =LabelEncoder()

In [155]:
df['Marital status                       ']=encoder_Marital.fit_transform(df['Marital status                       '])

In [156]:
df['Marital status                       '].value_counts()

0    365
1      3
Name: Marital status                       , dtype: int64

In [157]:
encoder_Marital.classes_

array(['MARRIED', 'SINGLE'], dtype=object)

#### lifestylecoloum

In [158]:
encoder_lifestyle=LabelEncoder()

In [159]:
df['Life.Style                                                                              ']=encoder_lifestyle.fit_transform(df['Life.Style                                                                              '])

In [160]:
df['Life.Style                                                                              '].value_counts()

1    217
0    151
Name: Life.Style                                                                              , dtype: int64

In [161]:
encoder_lifestyle.classes_

array(['NO', 'YES'], dtype=object)

#### sleep

In [162]:
encoder_sleep=LabelEncoder()

In [163]:
df['Sleep']=encoder_sleep.fit_transform(df['Sleep'])

In [164]:
df['Sleep'].value_counts()

0    224
1    144
Name: Sleep, dtype: int64

In [165]:
encoder_sleep.classes_

array(['NO', 'YES'], dtype=object)

#### category

In [166]:
encoder_category=LabelEncoder()

In [167]:
df['Category']=encoder_category.fit_transform(df['Category'])

In [168]:
df['Category'].value_counts()

0    331
1     37
Name: Category, dtype: int64

In [169]:
encoder_category.classes_

array(['FREE', 'PAID'], dtype=object)

#### 'Depression'

In [170]:
encoder_Depression=LabelEncoder()

In [171]:
df['Depression']=encoder_Depression.fit_transform(df['Depression'])

In [172]:
df['Depression'].value_counts()

1    351
0     17
Name: Depression, dtype: int64

In [173]:
encoder_Depression.classes_

array(['NO', 'YES'], dtype=object)

#### 'Hyperlipi'

In [174]:
encoder_Hyperlipi=LabelEncoder()

In [175]:
df['Hyperlipi']=encoder_Hyperlipi.fit_transform(df['Hyperlipi'])

In [176]:
df['Hyperlipi'].value_counts()

1    341
0     27
Name: Hyperlipi, dtype: int64

In [177]:
encoder_Hyperlipi.classes_

array(['NO', 'YES'], dtype=object)

#### 'Smoking'

In [178]:
encoder_Smoking=LabelEncoder()

In [179]:
df['Smoking']=encoder_Smoking.fit_transform(df['Smoking'])

In [180]:
df['Smoking'].value_counts()

1    195
0    173
Name: Smoking, dtype: int64

In [181]:
encoder_Smoking.classes_

array(['NO', 'YES'], dtype=object)

#### 'Family.History'

In [182]:
encoder_history=LabelEncoder()

In [183]:
df['Family.History']=encoder_history.fit_transform(df['Family.History'])

In [184]:
df['Family.History'].value_counts()

0    296
1     72
Name: Family.History, dtype: int64

In [185]:
encoder_history.classes_

array(['NO', 'YES'], dtype=object)

#### 'HTN'

In [186]:
encoder_HTN=LabelEncoder()

In [187]:
df['HTN']=encoder_HTN.fit_transform(df['HTN'])

In [188]:
df['HTN'].value_counts()

1    201
0    167
Name: HTN, dtype: int64

In [189]:
encoder_HTN.classes_

array(['NO', 'YES'], dtype=object)

#### allgeries

In [190]:
encoder_Allergies=LabelEncoder()

In [191]:
df['Allergies']=encoder_Allergies.fit_transform(df['Allergies'])

In [192]:
df['Allergies'].value_counts()

0    357
1     11
Name: Allergies, dtype: int64

In [193]:
encoder_Allergies.classes_

array(['NO', 'YES'], dtype=object)

#### others

In [194]:
encoder_others=LabelEncoder()

In [195]:
df['Others ']=encoder_others.fit_transform(df['Others '])

In [196]:
df['Others '].value_counts()

16    201
5      53
6      19
13     16
9      10
2      10
0      10
8       7
11      7
4       6
1       6
12      6
7       6
15      5
14      2
3       2
10      2
Name: Others , dtype: int64

In [197]:
encoder_others.classes_

array(['ACS', 'CHB, RV INFARCT', 'DM', 'DM,M.I', 'HCV, IHD', 'HTN',
       'HTN, DM', 'ICMP WITH EF= 30%,PULMONAR ODEMA', 'IHD, HTN',
       'IHD, SOB', 'IHD,DM', 'LV dysfunction', 'ORTHOPENIA, PND',
       'PND, ORTHOPENIA', 'PULMONARY ODEMA ', 'SEIZARIAN, HYSTECTOMY.',
       'no'], dtype=object)

#### CO

In [198]:
encoder_co =LabelEncoder()

In [199]:
df['CO']=encoder_co.fit_transform(df['CO'])

In [200]:
df['CO'].value_counts()

7     84
13    23
33    17
35    16
18    16
0     12
31    10
27    10
20    10
22    10
8     10
30    10
3     10
23    10
1      9
24     7
16     7
17     7
26     7
5      7
21     7
32     6
25     6
2      6
6      6
34     6
9      6
36     6
29     5
15     5
19     5
11     2
28     2
14     2
12     2
10     2
4      2
Name: CO, dtype: int64

In [201]:
encoder_co.classes_

array(['CENTRAL Chest pain,', 'Central Chest pain,',
       'Central Chest pain,SOB, Sweating', 'Chest pain 1 hr',
       'Chest pain 6 HR', 'Chest pain for 2 to 3 hr',
       'Chest pain from 3 hr', 'Chest pain,', 'Chest pain, 2 HR',
       'Chest pain, 4 HR', 'Chest pain, COLD SWEATING',
       'Chest pain, SOB,', 'Chest pain, SOB,COLD SWEATING',
       'Chest pain, SWEATING', 'Chest pain, SWEATING,VOMITING',
       'Chest pain, Sweating, SOB', 'Chest pain, TIGHTNESS',
       'Chest pain, VERTIGO,SWEATING', 'Chest pain, VOMITING',
       'Chest pain,COLD SWEATING, ', 'Chest pain,COLD SWEATING, VOMITING',
       'Chest pain,COUGH', 'Chest pain,NAUSEA, SWELLOWING',
       'Chest pain,SOB', 'Chest pain,SOB, Cold sweating',
       'Chest pain,SOB, HEART SINKING , PALPITATION',
       'Chest pain,SWEATING, NAUSEA', 'Chest pain,Sweating, ',
       'Chest pain,VOMITING. SWEATING ', 'Chest pain,VOMITING.,SOB',
       'Chest pain,heart sinking, vomiting',
       'Chest pain,nausea,vertigo,sweating,headache',
       'Chest pain,sweating,vomiting', 'Chest pain,vomiting, sweating',
       'Chest pain4 HR, SWEATING', 'SOB FROM 1 DAY ',
       'SOB, DIZZINESS, CHEST PAIN,NAUSEA,DIAPHORESIS'], dtype=object)

#### 'Diagnosis'

In [202]:
encoder_Diagnosis =LabelEncoder()

In [203]:
df['Diagnosis']=encoder_Diagnosis.fit_transform(df['Diagnosis'])

In [204]:
df['Diagnosis'].value_counts()

7     44
6     35
25    20
19    20
26    17
15    16
31    12
5     11
30    10
1     10
13    10
35    10
18    10
17    10
29    10
32    10
2      7
11     7
16     7
34     7
3      7
20     7
22     7
8      7
0      6
36     6
23     6
33     6
24     6
21     6
4      5
27     4
9      4
12     2
10     2
28     2
14     2
Name: Diagnosis, dtype: int64

In [205]:
encoder_Diagnosis.classes_

array(['A LATERAL WALL M.I', 'A/C, A/W M.I', 'A/CI/W M.I', 'A/L WALL M.I',
       'A/S M.I', 'A/S WALL M.I', 'A/W M.I', 'AC I/W M.I',
       'AC I/W M.I (RV) RE. M.I ', 'AC. A/L M.I', 'AC. A/W M.I',
       'AC. I/W M.I', 'AC. I/W M.I, SHOCK', 'AC. WALL M.I', 'AC.LBBB',
       'ACS, NSTEMI', 'ACS. ACUTE LEFT WALL M.I', 'ACUTE I/W M.I',
       'Ac I/P M.Iwith RV Infarct', 'Acute I/W M.I',
       'Acute and Ant Wall MI, ACS.', 'CARDIOGENIC SHOCK',
       'EXT. ACUTE WALL M.I', 'Ext. Ant wall M.I', 'I/P M.I', 'I/W M.I',
       'INF WALL M.I', 'Inf wall M.I', 'Inf wall RE. M.I',
       'Inf. Wall M.I', 'M.I ,ACS', 'NSTEM.I', 'POSTERIOR WALL M.I',
       'SEVERE MR, MVR', 'ST-T ELEVATION POST SK', 'STEMI',
       'old I/W M.I, ACS.'], dtype=object)

#### 'Hypersensitivity'

In [206]:
encoder_Hypersensitivity =LabelEncoder()

In [207]:
df['Hypersensitivity']=encoder_Hypersensitivity.fit_transform(df['Hypersensitivity'])

In [208]:
df['Hypersensitivity'].value_counts()

0    356
1     12
Name: Hypersensitivity, dtype: int64

In [209]:
encoder_Hypersensitivity.classes_

array(['NO', 'YES'], dtype=object)

#### 'SK.React'

In [210]:
encoder_SK_React =LabelEncoder()

In [211]:
df['SK.React']=encoder_SK_React.fit_transform(df['SK.React'])

In [212]:
df['SK.React'].value_counts()

1    146
4     93
5     52
0     28
6     25
2     16
3      8
Name: SK.React, dtype: int64

In [213]:
encoder_SK_React.classes_

array(['BODY.PAIN', 'COUGH.BLEEDING', 'LUNGS', 'NAUSEA.TEMP', 'NO',
       'SKIN.BLEEDING', 'STOMACH.BLEEDING'], dtype=object)

# Feature Scaling

In [214]:
df.columns

Index(['Age', 'Age.Group', 'Gender', 'Locality  ',
       'Marital status                       ',
       'Life.Style                                                                              ',
       'Sleep', 'Category', 'Depression', 'Hyperlipi', 'Smoking',
       'Family.History', 'F.History', 'Diabetes', 'HTN', 'Allergies', 'BP',
       'Thrombolysis', 'BGR', 'B.Urea', 'S.Cr', 'S.Sodium', 'S.Potassium',
       'S.Chloride', 'C.P.K', 'CK.MB', 'ESR', 'WBC', 'RBC', 'Hemoglobin',
       'P.C.V', 'M.C.V', 'M.C.H', 'M.C.H.C', 'PLATELET_COUNT', 'NEUTROPHIL',
       'LYMPHO', 'MONOCYTE', 'EOSINO', 'Others ', 'CO', 'Diagnosis',
       'Hypersensitivity', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num', 'SK',
       'SK.React', 'Reaction', 'Mortality', 'Follow.Up'],
      dtype='object')

In [215]:
input_features = ['Age', 'Age.Group', 'Gender', 'Locality  ',
       'Marital status                       ',
       'Life.Style                                                                              ',
       'Sleep', 'Category', 'Depression', 'Hyperlipi', 'Smoking',
       'Family.History', 'F.History', 'Diabetes', 'HTN', 'Allergies', 'BP',
       'Thrombolysis', 'BGR', 'B.Urea', 'S.Cr', 'S.Sodium', 'S.Potassium',
       'S.Chloride', 'C.P.K', 'CK.MB', 'ESR', 'WBC', 'RBC', 'Hemoglobin',
       'P.C.V', 'M.C.V', 'M.C.H', 'M.C.H.C', 'PLATELET_COUNT', 'NEUTROPHIL',
       'LYMPHO', 'MONOCYTE', 'EOSINO', 'Others ', 'CO', 'Diagnosis',
       'Hypersensitivity', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num', 'SK',
       'SK.React', 'Reaction', 'Follow.Up']

In [216]:
from sklearn.preprocessing import MinMaxScaler

In [217]:
scaling = MinMaxScaler()

In [218]:
for feature in input_features:
    df[feature] = scaling.fit_transform(df[[feature]])

In [219]:
df.head()

,Age,Age.Group,Gender,Locality,Marital status,Life.Style,Sleep,Category,Depression,Hyperlipi,...,oldpeak,slope,ca,thal,num,SK,SK.React,Reaction,Mortality,Follow.Up
0,0.396226,0.50,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.483871,0.5,0.000000,1.0,0.333333,1.0,0.666667,0.0,0,1.000000
1,0.509434,0.75,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.193548,0.5,0.000000,1.0,0.333333,1.0,0.666667,0.0,0,0.237288
2,0.584906,0.75,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.548387,0.5,0.000000,0.0,0.333333,1.0,0.666667,0.0,0,0.084746
3,0.584906,0.75,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.322581,0.5,0.333333,1.0,0.666667,1.0,0.666667,0.0,0,0.864407
4,0.603774,0.75,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.645161,1.0,0.666667,1.0,0.666667,1.0,0.666667,0.0,0,0.559322

#### Separating input and output features

In [220]:
X = df.drop(columns="Mortality", axis=1)

In [221]:
X.shape

(368, 59)

In [222]:
y = df["Mortality"]

In [223]:
y.shape

(368,)

# Featuresalection

In [224]:
from sklearn.feature_selection import SelectFromModel

In [225]:
from sklearn.ensemble import RandomForestClassifier

In [226]:
rf_imp = RandomForestClassifier(random_state=44)

In [227]:
imp_features = SelectFromModel(rf_imp,max_features=15)

In [228]:
imp_features.fit(X,y)

SelectFromModel(estimator=RandomForestClassifier(random_state=44),
                max_features=15)

In [229]:
X.columns[imp_features.get_support()]

Index(['Age', 'Age.Group', 'Diabetes', 'P.C.V', 'M.C.V', 'CO', 'trestbps',
       'chol', 'thalach', 'exang', 'oldpeak', 'ca', 'num', 'Reaction',
       'Follow.Up'],
      dtype='object')

In [230]:
X_sel = imp_features.transform(X)

In [231]:
X_sel.shape

(368, 15)

In [232]:
y.shape

(368,)

## Model Training

In [233]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [234]:
from sklearn.metrics import make_scorer

In [235]:
scoring = {
    'accuracy' : make_scorer(accuracy_score),
    'precision' : make_scorer(precision_score),
    'recall' : make_scorer(recall_score),
    'f1_score' : make_scorer(f1_score)
}

## Logistic Regression

In [236]:
from sklearn.model_selection import cross_validate

In [237]:
from sklearn.linear_model import LogisticRegression

In [238]:
lr_model = LogisticRegression(random_state=44,n_jobs=-1)

In [239]:
lr_cv = cross_validate(lr_model,X_sel,y,cv=10,scoring=scoring,n_jobs=-1)

In [240]:
lr_accuracy = lr_cv.get("test_accuracy")
lr_precision = lr_cv.get("test_precision")
lr_recall = lr_cv.get("test_recall")
lr_f1_score = lr_cv.get("test_f1_score")

In [241]:
print(np.mean(lr_accuracy))

0.8314564564564565

In [242]:
lr_cv_all = cross_validate(lr_model,X,y,cv=10,scoring=scoring,n_jobs=-1)

In [243]:
lr_accuracy_all = lr_cv_all.get("test_accuracy")

In [244]:
print(np.mean(lr_accuracy_all))

0.8614864864864865

# SVM

In [245]:
from sklearn.svm import SVC

In [246]:
svc_model = SVC(random_state=44)

In [247]:
svc_cv = cross_validate(svc_model,X_sel,y,cv=10,scoring=scoring,n_jobs=-1)

In [248]:
svc_accuracy = svc_cv.get("test_accuracy")
svc_precision = svc_cv.get("test_precision")
svc_recall = svc_cv.get("test_recall")
svc_f1_score = svc_cv.get("test_f1_score")

In [249]:
print(np.mean(svc_accuracy))

0.9403153153153152

In [250]:
svc_cv_all = cross_validate(svc_model,X,y,cv=10,scoring=scoring,n_jobs=-1)

In [251]:
svc_accuracy_all = svc_cv_all.get("test_accuracy")

In [252]:
print(np.mean(svc_accuracy_all))

0.9159159159159159

#### Decision Tree

In [253]:
from sklearn.tree import DecisionTreeClassifier

In [254]:
dt_model = DecisionTreeClassifier(random_state=44)

In [255]:
dt_cv = cross_validate(dt_model,X_sel,y,cv=10,scoring=scoring,n_jobs=-1)

In [256]:
dt_accuracy = dt_cv.get("test_accuracy")

In [257]:
print(np.mean(dt_accuracy))

0.9459459459459459

In [258]:
dt_cv_all = cross_validate(dt_model,X,y,cv=10,scoring=scoring,n_jobs=-1)

In [259]:
dt_accuracy_all = dt_cv_all.get("test_accuracy")

In [260]:
print(np.mean(dt_accuracy_all))

0.9351351351351351

#### Random Forest

In [261]:
from sklearn.ensemble import RandomForestClassifier

In [262]:
rf_model = RandomForestClassifier(random_state=44,n_jobs=-1)

In [263]:
rf_cv = cross_validate(rf_model,X_sel,y,cv=10,scoring=scoring,n_jobs=-1)

In [264]:
rf_accuracy = rf_cv.get("test_accuracy")
rf_precision = rf_cv.get("test_precision")
rf_recall = rf_cv.get("test_recall")
rf_f1_score = rf_cv.get("test_f1_score")

In [265]:
print(np.mean(rf_accuracy))
print(np.mean(rf_precision))
print(np.mean(rf_recall))
print(np.mean(rf_f1_score))

0.9702702702702704
0.9633333333333333
0.9
0.9229548229548229

In [266]:
rf_cv_all = cross_validate(rf_model,X,y,cv=10,scoring=scoring,n_jobs=-1)

In [267]:
rf_accuracy_all = rf_cv_all.get("test_accuracy")

In [268]:
print(np.mean(rf_accuracy_all))

0.9675675675675676